<p>get customer interest</p>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerId">Customer Id</label>
      <input type="text" class="form-control" id="customerId" required [(ngModel)]="commonRequest.customerId" name="customerId">
    </div>

    <div class="form-group">
      <label for="accountNo">Account No</label>
      <input type="text" class="form-control" id="accountNo" required [(ngModel)]="commonRequest.accountNo" name="accountNo">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <div class="panel-body" *ngIf="(allInterest && allInterest.forEach.length != 1)">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Account</th>
          <th>Interest</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let interest of allInterest | async">
          <td>{{interest.accountNo}}</td>
          <td>{{interest.interest}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
